# Python
__pycache__/
*.pyc

# PyInstaller
build/
dist/

# Ambiente virtual
.venv/

# Anotações do editor
notas_git.txt

# token
utils/github_token.py

# configs locais
config/local_config.py

# segurança extra
.env
*.key
