# Python
__pycache__/
*.pyc

# PyInstaller
build/
dist/

# Ambiente virtual
.venv/

# Anotações do editor
notas_git.txt

# configs locais
config/local_config.py
config/local.config.py

# segurança extra
.env
*.key

# env files
.env
*.env